:root {
  --color-very-dark-gray: hsl(0, 0%, 17%);
  --color-dark-Gray: hsl(0, 0%, 59%);

  --size-title: 32px;
  --size-result: 26px;
  --size-result-label: 12px;
  --size-input: 18px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
